<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<br><br><br>
<ul>
    <li>Administracja publiczna</li>
    <li><ul>
        <li><a href="../administracja_publiczna">Strona główna</a> 1. wersja szablonu gotowa, brak tekstów</li>

        <li><ul>
            <li><a href="../administracja_publiczna/produkty">Produkty</a> 1. wersja szablonu gotowa</li>

            <li><ul>
                <li><a href="../administracja_publiczna/turysta">Turysta</a> 1. wersja szablonu gotowa, teksty napisane</li>
                <li><a href="../administracja_publiczna/ekolog">Ekolog</a> 1. wersja szablonu gotowa, teksty napisane</li>
                <li><a href="../administracja_publiczna/adresat">Adresat</a> 1. wersja szablonu gotowa, teksty napisane</li>
            </ul></li>

            <li><a href="../administracja_publiczna/aktualnosci">Aktualności</a> 1. wersja szablonu gotowa</li>

            <li><ul>
                <li><a href="../administracja_publiczna/post/10/">Przykładowy post</a> 1. wersja szablonu gotowa</li>
            </ul></li>

            <li><a href="../administracja_publiczna/akty_prawne">Akty prawne</a>  1. wersja szablonu gotowa, brak tekstów</li>
            <li><a href="../administracja_publiczna/integracje">Integracje</a>  Szablon nie jest gotowy (czekam na teksty), teksty napisane</li>
            <li><a href="../administracja_publiczna/partnerzy">Partnerzy</a>  Szablon nie jest gotowy (czekam na teksty), teksty napisane</li>

        </ul></li>
    </ul></li>
    <li><a href="../skanowanie_laserowe/">Skanowanie laserowe</a> Strona gotowa</li>
</ul>


</body>
</html>