<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>

<br>
<ul>

    <li><b><a href="#">Strona główna</a></b></li>
    <ul>
        <li><a href="kontakt">Kontakt</a></li>
{#        <ul>#}
{#            <li><a href="../administracja_publiczna/produkty">Produkty</a></li>#}
{#            <ul>#}
{#                <li><a href="../administracja_publiczna/turysta">Turysta</a></li>#}
{#                <li><a href="../administracja_publiczna/ekolog">Ekolog</a></li>#}
{#                <li><a href="../administracja_publiczna/adresat">Adresat</a></li>#}
{#            </ul>#}
{#            <li><a href="../administracja_publiczna/aktualnosci">Aktualności</a></li>#}
{#            <ul>#}
{#                <li><a href="../administracja_publiczna/post/10/">Przykładowy post</a></li>#}
{#            </ul>#}
{#            <li><a href="../administracja_publiczna/akty_prawne">Akty prawne</a></li>#}
{#            <li><a href="../administracja_publiczna/integracje">Integracje</a></li>#}
{#            <li><a href="../administracja_publiczna/partnerzy">Partnerzy</a></li>#}
{#        </ul>#}
    </ul>

    <li><b>Administracja publiczna</b></li>
    <ul>
        <li><a href="../administracja_publiczna">Strona główna administracji</a></li>
        <ul>
            <li><a href="../administracja_publiczna/produkty">Produkty</a></li>
            <ul>
                <li><a href="../administracja_publiczna/turysta">Turysta</a></li>
                <li><a href="../administracja_publiczna/ekolog">Ekolog</a></li>
                <li><a href="../administracja_publiczna/adresat">Adresat</a></li>
            </ul>
            <li><a href="../administracja_publiczna/aktualnosci">Aktualności</a></li>
            <ul>
                <li><a href="../administracja_publiczna/post/10/">Przykładowy post</a></li>
            </ul>
            <li><a href="../administracja_publiczna/akty_prawne">Akty prawne</a></li>
            <li><a href="../administracja_publiczna/integracje">Integracje</a></li>
            <li><a href="../administracja_publiczna/partnerzy">Partnerzy</a></li>
        </ul>
    </ul>

    <li><b>Skanowanie laserowe</b></li>
        <ul><li><a href="../skanowanie_laserowe/">Strona główna skanowania</a></li></ul>
</ul>


</body>
</html>