/*@font-face {*/
    /*font-family: 'GiapFont';*/
    /*src:*/
        /*url('nevis.woff2') format('woff2'), !* Super Modern Browsers *!*/
        /*url('nevis.woff') format('woff'), !* Pretty Modern Browsers *!*/
        /*url('nevis.ttf')  format('truetype');  !* Safari, Android, iOS *!*/
/*}*/

h1 {
    margin-top: 0;
}

body {
    font-size: 19px;
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
    line-height: 30px !important;
    font-weight: 400;
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 19px;
    }

    .like-h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 550px) {
    h1 {
        font-size: 66px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 18px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 19px;
    }

    .like-h2 {
        font-size: 45px;
        margin-bottom: 60px;
    }

    .like-h3 {
        font-size: 24px;
    }
}

.h2-small {
    font-size: 24px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #111;
}

.header-white {
    color: white;
}

.paragraph-white {
    color: #f3f3f3;
}

p {
    font-size: 19px;
    color: #333;
    line-height: 33px;
}

.p-24 {
    font-size: 24px;
    line-height: 38px;
}

a {
    color: #57addd;
}

.p-center {
    text-align: center;
}

.p-justify {
    text-align: justify;
}

/*------------------------------------*/
/*** glowne zdjecie z naglowkiem h1 ***/
/*------------------------------------*/

.square-1 {
    width: 586px;
    height: 586px;
    display: inline-block;
    background-color: #00ae98;
    margin: 0;
    float: left;
}

.square-2 {
    width: 586px;
    height: 586px;
    display: inline-block;
    background-color: #99ae98;
    margin: 0;
    float: left;
}

.square-inside {
    width: 293px;
    height: 293px;
    display: inline-block;
    background-color: #eeeeee;
    float: left;
    object-fit: cover;
    -o-object-fit: cover;
}

.square-inside img {
    object-fit: cover;
    -o-object-fit: cover;
}

.full-size-header-image {
    background-size: cover;
    margin-top: -10px !important;
    /*background-attachment: fixed;*/
    background-position: center 70%;
}


@media screen and (min-width: 1000px) {
    .full-size-header-image {
        height: 500px;
    }
    .siatka-full {
        height: 500px;
    }
    .main-h1 > h1 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1000px) {
    .full-size-header-image {
        height: 400px;
    }
    .siatka-full {
        height: 400px;
        margin: 0 auto;
    }
    .main-h1 > h1 {
        margin-top: -13px;
    }
}

.full-size-header-image-index {
    background-image:url('http://serwer1640294.home.pl/autoinstalator/wordpress1/wp-content/uploads/2017/04/Bez-tytułu.jpg');
}

.full-size-header-image-m3-robot {
    background: url('http://serwer1640294.home.pl/autoinstalator/wordpress1/wp-content/uploads/2017/03/Trolley_Panorama.jpg');
}

.full-size-header-image-produkty {
    background-image:url('http://serwer1640294.home.pl/autoinstalator/wordpress1/wp-content/uploads/2017/03/Trolley_Panorama.jpg');
}

.full-size-header-image-partners {
    background-image:url('http://x3.wykop.pl/cdn/c3201142/comment_fs9PZCiMhIxgFeaXFbIPfrZxhjxw42QH.jpg');
}

.full-size-header-image-skaning {
    background-image:url('http://serwer1640294.home.pl/autoinstalator/wordpress1/wp-content/uploads/2017/03/skan_laserowy.jpg');
}

.full-size-header-image-turysta {
    background-image:url('../img/mainPhotos/turysta.jpg');
}

.full-size-header-image-ekolog {
    background-image:url('../img/mainPhotos/ekolog.jpg');
}

.full-size-header-image-adresat {
    background-image:url('../img/mainPhotos/adresat.jpg');
}

.siatka {
    background-image:url('http://dwiewieze.com/wp-content/uploads/2016/10/black-diagonal-lines.png');
    background-repeat:repeat;
    background-position:center;
    position: relative;
    background-attachment: fixed;
    /*background-color: rgba(0,174,152,0.32);*/
}

.siatka-full {
    height: 500px;
    margin: 0 auto;
}

.siatka-part {
    height: 500px;
}

.navbar {
    min-height: 67px !important;
    position: relative;
    margin: 0;
}

.navbar-toggle {
    margin-top: 17px !important;
    margin-bottom: 17px !important;
}

.h1-not-main > h1 {
    margin-top: 0 !important;
}

.siatka-part {
    height: 500px;
}

.main-h1 {
    position: relative;
    width: 95%;
    max-width: 750px;
    text-align: center;
    color: #f3f3f3;
    width: auto;
    padding: 20px;
}

.main-h1 > h1 {
    color: white;
    width: auto;
    padding: 10px;
}

.part-size-header-img {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 500px;
    position: relative;
    background-attachment: fixed;
}

.part-size-header-img-produkty {
    background-image:url('http://serwer1640294.home.pl/autoinstalator/wordpress1/wp-content/uploads/2017/03/Trolley_Panorama.jpg');
}

/*-------------------------------*/
/**** two column layout equal ****/
/*-------------------------------*/

.col-group-last div {
    margin: 50px auto;
    text-align: justify;
    float: none;
    width: 40%;
}

@media screen and (max-width: 44em) {
    .col-group-last div {
        width: 100%;
    }
}

.col-group {
    max-width: 1170px;
    margin: 0 auto;
}

.col-group > div {
    text-align: justify;
}

@media screen and (min-width: 44em) {
  .col-group {
      overflow: hidden;
  }
  .col-group > div {
      float: left;
      width: 40%;
      margin: 40px 5%;
  }
}

.col-group-wide {
    max-width: 1170px;
    margin: 20px auto;
}

.col-group-wide > div {
    margin: 0;
    text-align: justify;

}

@media screen and (min-width: 44em) {
  .col-group-wide {
      overflow: hidden;
  }
  .col-group-wide > .column-1 {
      float: left;
      width: 50%;
      margin: 0;
  }
    .col-group-wide > .column-2 {
      float: left;
      width: 50%;
      margin: 0;
  }
    .text-column-2 {
        padding-left: 13px;
    }
    .text-column-1 {
        padding-right: 13px;
    }
}

/*---------------------------------*/
/**** two column layout unequal ****/
/*---------------------------------*/

.two-col-unequal {
    margin: 30px 0;
}

.two-col-unequal-30, .two-col-unequal-70 {
    margin: 30px 0;
    text-align: justify;
}
.two-col-unequal-img {
    max-height: 300px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 44em) {
  .two-col-unequal {
      display: -ms-flexbox;
      display: flex;
      display: -webkit-flex; /* align-items:center; for Safari */ /* align-items:center; for Safari 7.0+ */
      -ms-flex-align:center;
          align-items:center;
      overflow: hidden;
  }
  .two-col-unequal-30 {
      float: left;
      width: 30%;
      margin: auto 5%;
  }
  .two-col-unequal-img {
      max-height: 300px;
      max-width: 100%;
      margin: 0 auto;
      display: block;
  }
  .two-col-unequal-70 {
      float: left;
      width: 50%;
      margin: 30px 5%;
  }
}

.text-align-center {
    text-align: center !important;
}

/*-------------------------*/
/**** one column layout ****/
/*-------------------------*/

.one-col {
    max-width: 1170px;
    margin: 30px auto;
    text-align: justify;
}

.one-col-narrow {
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
}

/*--------------------------*/
/**** paski rozne kolory ****/
/*--------------------------*/

/* dark blue background row */

.h2-section {
    padding-top: 10px;
}

.blue-bg-row {
    width: 100%;
    padding: 80px 5%;
    background: #222;
    color: #cccccc;
    box-shadow:
            inset 0 10px 10px -10px rgba(0,0,0,0.25),
            inset 0 -10px 10px -10px rgba(0,0,0,0.25);
    background-image:url('http://noisepng.com/200-20-4.png');
    background-repeat: repeat;
}

/* white background row */

.white-bg-row {
    width: 100%;
    padding: 80px 5%;
}

.white-bg-row-negative-margin {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: calc(5% - 10px);
    padding-right: calc(5% - 10px);
}

/* gary background row */

.grey-bg-row {
    width: 100%;
    padding: 80px 5%;
    background: #f3f3f3;
    box-shadow:
            inset 0 5px 7px -7px rgba(0,0,0,0.12),
            inset 0 -5px 7px -7px rgba(0,0,0,0.12);
}

.grey-bg-row-no-padding {
    width: 100%;
    padding: 0;
    background: #f3f3f3;
    box-shadow:
            inset 0 5px 7px -7px rgba(0,0,0,0.12),
            inset 0 -5px 7px -7px rgba(0,0,0,0.12);
}

/*---------------------*/
/**** content width ****/
/*---------------------*/

.content-row {
    max-width: 1172px;
    margin: 0 auto;
    padding: 40px 0;
    overflow: auto;
}

.content-row-no-padding {
    max-width: 1172px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

.content-row-narrow {
    max-width: 1020px;
    margin: 0 auto;
    overflow: auto;
}

.negative-margin-10 {
    margin: 0 -10px
}

.content-row-small-padding-bottom {
    max-width: 1172px;
    margin: 0 auto;
    padding: 50px 0 10px 0;
    overflow: auto;
}

.content-blue {
    padding: 15px;
    background: #222;
    color: #cccccc;
}

.content-row-small-padding {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}

.last-content-row-small-padding {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0.8rem 0 0 0;
}

/* nadpisuje klase .row bootstrapa */

.row {
    margin: 0 !important;
}

/*----------------------*/
/**** ikony standard ****/
/*----------------------*/

.main-icon {
    max-height: 105px;
    width: auto;
    margin: 0 auto;
    display: block;
}

/*---------------*/
/*** loga-firm ***/
/*---------------*/

.partners-col-2 {
    padding: 10px;
    height: 70px;
    width: auto;
    display: inline-block;
}

/*--------------------*/
/**** ikony i tekst****/
/*--------------------*/

.text-with-icon {
    text-align: center !important;
}

/*--------------*/
/***** MENU *****/
/*--------------*/

.dropdown-menu{
    border-radius: 0;
    box-shadow: none
}

.dropdown-submenu {
    position: initial;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 0;
  min-height: 101%;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:16px;
    background:rgba(0,0,0,0.6);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    transition-delay:.2s;
}

/*---------------*/
/*** Portfolio ***/
/*---------------*/

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0;
	/*width: 100%;*/
	list-style: none;
	text-align: center;
}

/* Common style */

@media screen and (min-width: 800px) {
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 0;
        height: 360px;
        width: 33.3333%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    .grid {
        height: 360px;
        width: 100%;
    }
    /*.grid-x1 {*/
        /*height: 360px !important;*/
    /*}*/
}

/*@media screen and (min-width: 650px) and (max-width: 1149px) {*/
    /*.grid figure {*/
        /*position: relative;*/
        /*float: left;*/
        /*overflow: hidden;*/
        /*margin: 0;height: 360px;*/
        /*width: 50%;*/
        /*background: #3085a3;*/
        /*text-align: center;*/
        /*cursor: pointer;*/
    /*}*/
    /*.grid {*/
        /*height: 1080px;*/
    /*}*/
    /*.grid-x1 {*/
        /*height: 720px !important;*/
    /*}*/
    /*.grid-x1-last {*/
        /*width: 100% !important;*/
    /*}*/
/*}*/

@media screen and (max-width: 800px) {
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 0;
        height: 360px;
        width: 100%;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    .grid {
        height: 540px;
        width: 100%;
    }
    /*.grid-x1 {*/
        /*height: 1080px !important;*/
    /*}*/
}


.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
    font-size: 14px;
    line-height: 21px;
}

/* Individual effects */

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
	background: linear-gradient(45deg, #333 0%,#990a21 40%,#3a342a 100%);
}

.effect-oscar p, .effect-oscar h1, .effect-oscar h2, .effect-oscar h3 {
    color: white;
}

figure.effect-oscar img {
	opacity: 0.9;
	transition: opacity 0.35s;
    object-fit: cover;
    -o-object-fit: cover;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(0,0,0,0.25);
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h3 {
	margin: 20% 0 10px 0;
	transition: transform 0.35s;
	transform: translate3d(0,35px,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	-ms-transform: scale(0);
	    transform: scale(0);
}

figure.effect-oscar:hover h3 {
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-ms-transform: scale(1);
	    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

/*------------------*/
/***** partners *****/
/*------------------*/

.partners-col-3 {
    text-align: center;
}

.partners-col-2 p {
    text-align: justify;
}

@media screen and (min-width: 901px) and (max-width: 1280px) {
    .partners {
        display: -ms-flexbox;
        display: flex;
    }

    .partners-col-1 {
        width: 20.33333%;
        margin: 0;
        height: auto;
    }

    .partners-col-3 {
        width: 30.33333%;
        margin: 0;
        height: auto;
    }

    /*.partners-col-2 {*/
        /*width: 45.33333%;*/
        /*margin: 0 2%;*/
        /*height: auto;*/
    /*}*/

    .partners-img {
        width: 100%;
        height: auto;
    }

    .partners-col-1 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .partners-text {
        padding: 15px;
    }

    .partners-text h2, .partners-text h3 {
        margin: 5px 0;
    }
}

@media screen and (min-width: 1280px) {
    .partners {
        display: -ms-flexbox;
        display: flex;
    }

    .partners-col-1 {
        width: 20.33333%;
        margin: 0;
        height: auto;
    }

    .partners-col-3 {
        width: 25.33333%;
        margin: 0;
        height: auto;
    }

    /*.partners-col-2 {*/
        /*width: 50.33333%;*/
        /*margin: 0 2%;*/
        /*height: auto;*/
    /*}*/

    .partners-img {
        width: 100%;
        height: auto;
    }

    .partners-col-1 img {
        width: 100%;
        height: auto;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .partners-text {
        padding: 15px;
    }

    .partners-text h2, .partners-text h3 {
        margin: 5px 0;
    }
}

@media screen and (max-width: 900px){

    .partners {
        display: block;
        padding: 30px 0;
}

    .partners-col-1, .partners-col-3 {
        width: 100%;
        margin: 0;
        height: auto;
        display: block;
    }

    /*.partners-col-2 {*/
        /*width: 100%;*/
        /*margin: 0;*/
        /*height: auto;*/
        /*display: block;*/
    /*}*/

    .partners-img {
        width: 100%;
        height: auto;
    }


    .partners-img img {
        display: block;
        max-width: 250px;
        max-height: 150px;
        width: auto;
        height: auto;
        margin: 0 auto;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .partners-col-1 {
        width: 100%;
        height: auto;
        object-fit: cover;
        -o-object-fit: cover;
    }

    .partners-text {
        padding: 15px;
    }

    .partners-text h2, .partners-text h3 {
        margin: 5px 0;
    }
}

/*-----------------------*/
/***** poziome linie *****/
/*-----------------------*/

hr {
	border-top: 2px solid #111111;
}

/*-------------------------*/
/***** 3 rowne kolumny *****/
/*-------------------------*/

.col-group-3-col-1, .col-group-3-col-2, .col-group-3-col-3 {
    padding: 0;
    margin-top: 30px;
    display: inline-block;
    white-space: normal;
}

.col-group-3 h1, .col-group-3 h2, .col-group-3 h3 {
    text-align: center;
}

@media screen and (min-width: 55em) {
    .col-group-3 {
        overflow: hidden;
        white-space: nowrap;
    }
    .col-group-3 > div {
        float: left;
        width: 33.3333333%;
    }
    .col-group-3-col-1 {
        padding-right: 2em;
    }

    .col-group-3-col-2 {
        padding: 0 1em;
    }

    .col-group-3-col-3 {
        padding-left: 2em;
    }
}
@media screen and (min-width: 38em) and (max-width: 55em) {
    .col-group-3 {
        overflow: hidden;
        white-space: nowrap;
    }
    .col-group-3 > div {
    float: left;
    width: 50%;
    }
    .col-group-3-col-1, .col-group-3-col-2, .col-group-3-col-3 {
        padding: 0 2em 2em 2em;
    }
    .col-group-3-col-3-last {
        padding: 2em;
        margin: 0 auto !important;
        float: none !important;
    }
}

@media screen and (max-width: 38em) {
    .col-group-4-display {
        max-width: 18em;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .col-group-4-display {
        max-width: 18em;
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
}

/*---------------------*/

.img-with-ul img {
    height: 250px;
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
}

.img-with-ul ul {
    text-align: center;
    padding: 0;
    list-style-position:inside;
}

/*----------------*/
/***** FOOTER *****/
/*----------------*/

.footer-basic-centered{
	background-color: #222;
    box-shadow:
            inset 0 10px 10px -10px rgba(0,0,0,0.25),
            inset 0 -10px 10px -10px rgba(0,0,0,0.25);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
	padding: 45px;
    display: inline-block;
    background-image:url('http://noisepng.com/200-20-4.png');
    background-repeat: repeat;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 19px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}

/*-------------------------*/
/***** FOOTER - koniec *****/
/*-------------------------*/

#map {
    width: auto;
    height: 450px;
    margin-top: 20px;
}

.kontakt {
    padding: 25px 15px;
}

.kontakt div {
    text-align: center;
}

.flex-row {
     display: -ms-flexbox;
     display: flex;
    -ms-flex-align:center;
        align-items:center;
}


.flex-row-no-sm {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align:center;
        align-items:center;
}

@media all and (max-width: 750px) {
    .flex-row-no-sm {
        display: block !important;
    }
}

.two-col-inside-col-1, .two-col-inside-col-2 {
    font-size: 19px;
}

.two-col-inside-col-1 h3, .two-col-inside-col-2 h3 {
    font-size: 24px;
}


@media all and (min-width: 750px) {
    .two-col-inside-col-1 {
        padding-left: 0;
    }

    .two-col-inside-col-2 {
        padding-right: 0;
    }
}

.brand-name-contact {
    font-size: 36px;
}

@media all and (max-width: 750px) {
    .two-col-inside-col-1 {
        padding: 20px 0;
        text-align: center;
    }

    .two-col-inside-col-2 {
        padding: 20px 0;
        text-align: center;
    }
    .brand-name-contact {
        text-align: center;
    }
}

.col-3-about {
    display: -ms-flexbox;
    display: flex;
    text-align: left !important;
}

.col-bootstrap {
    margin-bottom: 30px;
}

.skanning-steps {
    text-align: center;
}

.check-blue {
    display: block;
    float: left;
    color: #57addd;
    margin-right: 15px;
    margin-top: 7px;
}

.check-blue-sidebar {
    display: block;
    float: left;
    color: #00ae98;
    margin-right: 7px;
    margin-top: 7px;
}






.check-blue-center {
    color: #57addd;
    margin-right: 15px;
    margin-top: 2px;
}

.just-extra-horisontal-margin {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 5%;
}

/*---------------------*/
/*---------------------*/
/***** SINGLE POST *****/
/*---------------------*/

.single-post p {
    font-size: 24px;
    line-height: 38px;
    text-align: justify;
}

.single-post {
    margin: 40px auto 80px auto;
    background: white;
    max-width: 1170px;
}

.single-post h1, .single-post h2, .single-post h3 {
    text-align: center;
    line-height: 1.5;
}

.single-post img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .single-post h1 {
        font-size: 32px;
    }
    .single-post p {
        font-size: 19px;
        line-height: 30px;
        text-align: justify;
    }
}

@media screen and (min-width: 800px) {
    .single-post h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 800px) {
    .post-row h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 800px) {
    .post-row h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 800px){
    .single-post {
        margin-top: 50px;
    }
}

/* zajawki postów */

.post-excerpt p {
    font-size: 22px;
    line-height: 31px;
    text-align: justify;
}

.post-excerpt {
    margin: 50px auto;
    background: white;
    max-width: 1170px;
    border: 1px solid #ddd;
}

.post-excerpt h1, .post-excerpt h2 {
    line-height: 1.5;
}

.post-date {
    color: #999;
}

.post-date-post {
    margin-bottom: 30px;
}

@media screen and (max-width: 750px){
    .post-row {
        display: block;
    }
    .aktualmosci-img-container {
        width: 100%;
    }
    .aktualnosci-text {
        width: 100%;
    }
}

@media screen and (min-width: 750px){
    .post-row {
        display: -ms-flexbox;
        display: flex;
    }
    .aktualmosci-img-container {
        width: 35%;
    }
    .aktualnosci-text {
        width: 65%;
    }
}

.aktualmosci-img-container {
    padding: 0;
}

.aktualmosci-img-container > img {
    object-fit: cover;
    -o-object-fit: cover;
    height: 300px;
    width: 100%;
}

.aktualnosci-text {
    padding: 0 20px 20px 20px;
    min-height: 300px;
}

@media screen and (max-width: 800px){
    .post-excerpt p {
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
        /* margin-top: 50px; */
    }
    /*
    .grey-bg-row {
        padding: 50px 0;
    }
    */
    .h1-standalone {
        text-align: center;
        margin: 50px 20px 0 20px;
    }
}

.h1-standalone {
    margin-top: 50px;
}

.navbar-brand {
    height: 43px;
    margin: 13px 33px 13px 0 !important;
    padding: 0 !important;
}

.navbar-nav > li > a {
    text-align: center !important;
    line-height: 39px;
}

.nav-logo {
    height: 43px;
}

.navbar-collapse {
    max-height: 10000px !important;
}

.navbar {
    padding: 0 30px;
}


@media screen and (min-width: 1200px) {
    .container-nav {
        padding: 0 !important;
    }
}

.check-div-single-3 {
    width: 360px;
    margin: 20px 10px;
    display: -ms-flexbox;
    display: flex;
}

.check-div-single-2 {
    width: 500px;
    margin: 20px 10px;
    display: -ms-flexbox;
    display: flex;
}


.check-div {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-around;
}

.check-div-single-3 p:nth-child(1), .check-div-single-2 p:nth-child(1)  {
    font-weight: bold;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}


/******************************/
/**** nawigacja - zakladki ****/
/******************************/

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab, apply corners on top */

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color : white;
    background-color: white;
    padding : 5px 15px;
}

.zakladki {
    background: #337ab7;
}

.panel-heading {
    /*  padding: 10px 0 !important; */
    padding: 0 !important;
    background: #f7f5f5 !important;
}

.nav-tabs {
    border: none !important;
}

.negative-margin-row {
    max-width: 1170px;
    margin: -140px auto 60px auto;
    padding: 20px 50px 50px 50px;
    position: relative;
    border: 1px solid #e6e6e6;
    background: white;
}

@media screen and (min-width: 850px) {
    .main-content-66-procent {
        padding: 0 50px 0 0 !important;
    }
}

@media screen and (max-width: 750px) {
    .main-content-66-procent {
        padding: 0 15px !important;
    }
}

@media screen and (min-width: 400px) {
    .main-content-66-procent {
        margin-bottom: 40px;
    }
}

.sajdbar {
    background: #f7f5f5;
    padding: 10px 25px !important;
}

.sajdbar h3 {
    color: #00ae98;
    font-weight: 600;
    text-align: center;
}

@media screen and (min-width: 750px) and (max-width: 850px) {
    .sajdbar {
        padding: 10px 20px !important;
    }
    .negative-margin-row {
        padding: 20px 25px 50px 25px;
    }
    .main-content-66-procent {
        padding: 0 30px 0 10px !important;
    }
}

@media screen and (max-width: 750px) {
    .negative-margin-row {
        padding: 20px 30px 50px 30px;
    }
    .main-content-66-procent {
        padding: 0 0 !important;
    }
}

@media screen and (max-width: 450px) {
    .sajdbar {
        padding: 10px 15px !important;
    }
}

.col-margin {
    margin: 20px 5px;
    padding: 12px 30px 30px 30px;
    background: #eeeeee;
}

/**************************/
/**** img with caption ****/
/**************************/

figure img {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.figure {
    margin: 20px 0 !important;
}

figcaption {
    text-align: center;
}

/****************/
/**** cienie ****/
/****************/

.shadow-1-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    transition: 0.2s;
}

.shadow-2-hover:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    transition: 0.2s;
}

.shadow-1-hover {
    transition: 0.2s;
}

.shadow-2-hover {
    transition: 0.2s;
}

.shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.shadow-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

/******************************/
/**** kafelki postow na SG ****/
/******************************/

.post-excerpt-container {
    display: -ms-flexbox;
    display: flex;
}

.post-excerpt-small {
    margin: 10px;
    background: #f3f3f3;
    width: calc(33.333% - 20px);
}

.post-excerpt-img {
    overflow: hidden;
}

.post-excerpt-img img {
    transition: transform 0.35s;
    width: 100%;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
}

.post-excerpt-small:hover img {
    transition: transform 0.35s;
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.post-excerpt-text {
    padding: 15px;
}

@media screen and (max-width: 1000px) {

   .post-excerpt-container {
       display: -ms-flexbox;
       display: flex;
       -ms-flex-direction: column;
           flex-direction: column;
   }

    .post-excerpt-small {
        margin: 8px;
        width: calc(100% - 16px);
        display: -ms-flexbox;
        display: flex;
    }

    .post-excerpt-img {
        width: 49%;
        display: inline-block;
    }

    .post-excerpt-text {
        display: inline-block;
        width: 50%;
    }
}

@media screen and (max-width: 700px) {

    .post-excerpt-small {
        margin: 7px;
        min-width: 100px;
        width: calc(100% - 14px);
        display: block;
    }

    .post-excerpt-img {
        width: 100%;
    }

    .post-excerpt-text {
        width: 100%;
    }
}

/**********************/
/**** zaokraglenia ****/
/**********************/

.rounded-2px {
    border-radius: 2px;
}

.rounded-3px {
    border-radius: 3px;
}

/*********************************************/
/**** kafelki/przyciski do podstron na SG ****/
/*********************************************/

.subindex-tiles {
    display:-ms-flexbox;
    display:flex;
}

.subindex-tiles p {
    color: white;
    width: 66%;
}

/*.subindex-tiles div {*/
    /*filter: grayscale(100%);*/
/*}*/

.subindex-tiles h2 {
    color: white;
}

.subindex-tile-admin {
    min-height: 400px;
    width: calc(50% - 20px);
    margin: 10px;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #47cfbd;
    padding: 60px 0 0 15px;
}

.subindex-tile-small-in {
    min-height: 500px;
    width: calc(50% - 20px);
    margin: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.subindex-tile-biznes {
    min-height: 200px;
    background-color: #467ca1;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 0 10px 0;
}

.subindex-tile-mapy {
    min-height: 200px;
    background-color: #f7bf39;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(50% - 10px);
    margin: 10px 10px 0 0;
}

.subindex-tile-skan {
    min-height: 200px;
    background-color: #56bcec;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(50% - 10px);
    margin: 10px 0 0 10px;
}


@media screen and (max-width: 1000px) {

    .subindex-tiles {
        display:-ms-flexbox;
        display:flex;
        -ms-flex-direction: column;
            flex-flow: column;
    }

    .subindex-tile-admin {
        width:  calc(100% - 16px);
        margin: 8px;
    }

    .subindex-tile-small-in {
        width: calc(100% - 16px);
        margin: 8px;
    }

    .subindex-tile-biznes {
        margin: 0 0 8px 0;
    }

    .subindex-tile-mapy {
        width: calc(50% - 8px);
        margin: 8px 8px 0 0;
    }

    .subindex-tile-skan {
        width: calc(50% - 8px);
        margin: 8px 0 0 8px;
    }
}


@media screen and (max-width: 675px) {

    .subindex-tile-mapy {
        width: 100%;
        margin: 7px 0 7px 0;
    }

    .subindex-tile-skan {
        width: 100%;
        margin: 7px 0 0 0;
    }

    .subindex-tile-small-in {
        width: calc(100% - 14px);
        margin: 7px;
    }

    .subindex-tile-admin {
        width:  calc(100% - 14px);
        margin: 7px;
    }

    .subindex-tile-biznes {
        width: 100%;
        margin: 0 0 7px 0;
    }
}

/****************************/
/**** nasi klienci index ****/
/****************************/

.elo img {
    filter: grayscale(100%);
    margin: 20px 20px;
    transition: 200ms;
    height: 80px;
    width: auto;
}

.elo img:hover {
    filter: grayscale(0%);
    margin: 20px 20px;
    transition: 200ms;
}

/**********************/
/**** skosne linie ****/
/**********************/

.boom-top {
    height: 50px;
    position: relative;
    background-image:
            linear-gradient(
                    to top left,
                    rgba(215, 40, 40, 0) 50%,
                    #f3f3f3 50%
            );
}

.boom-bottom {
    position: relative;
    height: 50px;
    margin-top: -50px;
    bottom: 0;
    background-image: linear-gradient(
            to top left,
            #fff 50%,
            rgba(215, 40, 40, 0) 50%
    );
}

/******************/
/**** produkty ****/
/******************/

.product_cat_logo {
    width: auto;
    height: 35px;
    display: inline-block;
    margin: 20px 0;
}

.products-main-flex {
    display: flex;
    flex-direction: column;
}

.products-flex {
    display: flex;
    margin: 15px;
}

.products-flex > div:first-child {
    width: calc(50% - 15px);
    margin: 0 15px 0 0;
}

.products-flex > div:last-child {
    width: calc(50% - 15px);
    margin: 0 0 0 15px;
}

.products-flex > div {
    border: 1px solid #e6e6e6;
    background: #f3f3f3;
}

@media screen and (max-width: 850px){

    .products-main-flex {
        display: flex;
        flex-direction: column;
    }

    .products-flex {
        display: flex;
        margin: 15px;
        flex-direction: column;
    }

    .products-flex > div:first-child {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .products-flex > div:last-child {
        width: 100%;
        margin: 15px 0 0 0;
    }
}


.text-content-page {
    margin: 40px auto 80px auto;
    background: white;
    max-width: 1170px;
    position: relative;
}

.grey-border {
    border: 1px solid #e6e6e6;
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

ol, ul {
    padding-left: 18px;
}

.extra-top-margin-30 {
    margin-top: 30px;
}

.flex {
    display: flex;
}

.product-icon {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.product-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.product-icon img {
    width: 50%;
    height: auto;
    margin: 10px auto;
    display: block;
}

.product-icon {
    text-align: center;
}

.header-image-flex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}