{% extends "administracja_publiczna/base_no_img.html" %}
{% load staticfiles %}
{% block content %}

<!-- main content -->

{#<div class="panel-heading">#}
{#    <ul class="nav nav-tabs ul-tabs">#}
{#        <li style="margin: 10px;"><b>Pola EWI:</b></li>#}
{#        <li class="dropdown">#}
{#            <a href="#" data-toggle="dropdown">Wybierz produkt <span class="caret"></span></a>#}
{#            <ul class="dropdown-menu" role="menu">#}
{#                <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>#}
{#                <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>#}
{#                <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>#}
{#                <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>#}
{#                <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>#}
{#            </ul>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}


<div class="grey-bg-row">
    <div class="negative-margin-row">
            <p style="margin-left: 15px; color: #8d9093; margin-top: 10px;">Strona główna > Produkty > Ekolog</p>
        <div class="just-extra-horisontal-margin">

               <ol>
                    <li><a href="#">Dyrektywa Inspire</a></li>
                    <li><a href="#">Prawo karne</a></li>
                    <li><a href="#">Prawo pracy</a></li>
                    <li><a href="#">Wytyczne Unii Europejskiej</a></li>
                    <li><a href="#">Elo co tam</a></li>
                </ol>

                <h2 style="margin-top: 80px">1. Dyrektywa Inspire</h2>
                <p>
                    1)wyborach - należy przez to rozumieć wybory do Sejmu i do Senatu, wybory Prezydenta Rzeczypospolitej, wybory do Parlamentu Europejskiego w Rzeczypospolitej Polskiej, wybory do organów stanowiących jednostek samorządu terytorialnego oraz wybory wójtów, burmistrzów i prezydentów miast;
2)referendach - należy przez to rozumieć referenda ogólnokrajowe i referenda lokalne;
3)organach stanowiących jednostek samorządu terytorialnego - należy przez to rozumieć, odpowiednio, rady gmin, rady powiatów i sejmiki województw;
4)radzie gminy - należy przez to rozumieć także radę miasta na prawach powiatu;
5)radzie - należy przez to rozumieć także sejmik województwa;
6)wójcie - należy przez to rozumieć także burmistrza i prezydenta miasta;
7)zakładzie opieki zdrowotnej4 - należy przez to rozumieć szpital, zakład opiekuńczo-leczniczy, zakład pielęgnacyjno-opiekuńczy, sanatorium, prewentorium, hospicjum stacjonarne oraz inny zakład przeznaczony dla osób, których stan zdrowia wymaga udzielania całodobowych świadczeń zdrowotnych, o których mowa wustawiez dnia 30 sierpnia 1991 r. o zakładach opieki zdrowotnej(Dz. U. z 2007 r. poz. 89, z późn. zm.)5;
8)domu pomocy społecznej - należy przez to rozumieć także placówkę zapewniającą całodobową opiekę osobom niepełnosprawnym, przewlekle chorym lub osobom w podeszłym wieku, o której mowa w ustawie z dnia 12 marca 2004 r. o pomocy społecznej (Dz. U. z 2016 r. poz. 930 i 1583);
9)stałym zamieszkaniu - należy przez to rozumieć zamieszkanie w określonej miejscowości pod oznaczonym adresem z zamiarem stałego pobytu;
                </p>



                <h2 style="margin-top: 80px">1. Dyrektywa Inspire</h2>
                <p>
                    1)wyborach - należy przez to rozumieć wybory do Sejmu i do Senatu, wybory Prezydenta Rzeczypospolitej, wybory do Parlamentu Europejskiego w Rzeczypospolitej Polskiej, wybory do organów stanowiących jednostek samorządu terytorialnego oraz wybory wójtów, burmistrzów i prezydentów miast;
2)referendach - należy przez to rozumieć referenda ogólnokrajowe i referenda lokalne;
3)organach stanowiących jednostek samorządu terytorialnego - należy przez to rozumieć, odpowiednio, rady gmin, rady powiatów i sejmiki województw;
4)radzie gminy - należy przez to rozumieć także radę miasta na prawach powiatu;
5)radzie - należy przez to rozumieć także sejmik województwa;
6)wójcie - należy przez to rozumieć także burmistrza i prezydenta miasta;
7)zakładzie opieki zdrowotnej4 - należy przez to rozumieć szpital, zakład opiekuńczo-leczniczy, zakład pielęgnacyjno-opiekuńczy, sanatorium, prewentorium, hospicjum stacjonarne oraz inny zakład przeznaczony dla osób, których stan zdrowia wymaga udzielania całodobowych świadczeń zdrowotnych, o których mowa wustawiez dnia 30 sierpnia 1991 r. o zakładach opieki zdrowotnej(Dz. U. z 2007 r. poz. 89, z późn. zm.)5;
8)domu pomocy społecznej - należy przez to rozumieć także placówkę zapewniającą całodobową opiekę osobom niepełnosprawnym, przewlekle chorym lub osobom w podeszłym wieku, o której mowa w ustawie z dnia 12 marca 2004 r. o pomocy społecznej (Dz. U. z 2016 r. poz. 930 i 1583);
9)stałym zamieszkaniu - należy przez to rozumieć zamieszkanie w określonej miejscowości pod oznaczonym adresem z zamiarem stałego pobytu;
                </p>



                <h2 style="margin-top: 80px">1. Dyrektywa Inspire</h2>
                <p>
                    1)wyborach - należy przez to rozumieć wybory do Sejmu i do Senatu, wybory Prezydenta Rzeczypospolitej, wybory do Parlamentu Europejskiego w Rzeczypospolitej Polskiej, wybory do organów stanowiących jednostek samorządu terytorialnego oraz wybory wójtów, burmistrzów i prezydentów miast;
2)referendach - należy przez to rozumieć referenda ogólnokrajowe i referenda lokalne;
3)organach stanowiących jednostek samorządu terytorialnego - należy przez to rozumieć, odpowiednio, rady gmin, rady powiatów i sejmiki województw;
4)radzie gminy - należy przez to rozumieć także radę miasta na prawach powiatu;
5)radzie - należy przez to rozumieć także sejmik województwa;
6)wójcie - należy przez to rozumieć także burmistrza i prezydenta miasta;
7)zakładzie opieki zdrowotnej4 - należy przez to rozumieć szpital, zakład opiekuńczo-leczniczy, zakład pielęgnacyjno-opiekuńczy, sanatorium, prewentorium, hospicjum stacjonarne oraz inny zakład przeznaczony dla osób, których stan zdrowia wymaga udzielania całodobowych świadczeń zdrowotnych, o których mowa wustawiez dnia 30 sierpnia 1991 r. o zakładach opieki zdrowotnej(Dz. U. z 2007 r. poz. 89, z późn. zm.)5;
8)domu pomocy społecznej - należy przez to rozumieć także placówkę zapewniającą całodobową opiekę osobom niepełnosprawnym, przewlekle chorym lub osobom w podeszłym wieku, o której mowa w ustawie z dnia 12 marca 2004 r. o pomocy społecznej (Dz. U. z 2016 r. poz. 930 i 1583);
9)stałym zamieszkaniu - należy przez to rozumieć zamieszkanie w określonej miejscowości pod oznaczonym adresem z zamiarem stałego pobytu;
                </p>

        </div>
    </div>
</div>

{% endblock %}

{% block mainimage %}
{% endblock %}