{% extends "administracja_publiczna/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- main content -->

{#<div class="white-bg-row">#}
{#    <div class="content-row" style="max-width:1170px !important;">#}
{##}
{##}
{#        <div class="subindex-tiles">#}
{##}
{#            <div class="subindex-tile-admin rounded-2px"#}
{#                 style="background-image: url({% static 'img/tile_bg-admin.png' %});">#}
{##}
{#                <h2>Jakiś<br>nagłówek</h2>#}
{#                <p>Weoijweof jweofjwe korzystne rozwiązania dla elo.#}
{#                Sdoijsd oijasdoj oqw mmpojiwe pjkwpoj. Oijqwdo.</p>#}
{##}
{#            </div>#}
{##}
{#            <div class="subindex-tile-small-in">#}
{##}
{#                <div class="subindex-tile-biznes rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-biznes.png' %});">#}
{#                </div>#}
{##}
{#                <div class="subindex-tile-mapy rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-mapy.png' %});">#}
{#                </div>#}
{##}
{#                <div class="subindex-tile-skan rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-test.png' %});">#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}




<section>
    <div class=""></div>
    <div class="grey-bg-row">
        <div class="content-row-no-padding">
            <div class="col-group">
                <div class="text-with-icon">
                    <img src="{% static 'img/przemysl-thin-cien.png' %}" alt="przemysł" style="width: 125px">
                    <h3>Przemysł</h3>
                    <p>
                        Skanowanie laserowe 3D daje możliwość pełnej inwentaryzacji przestrzeni produkcyjnej.
                        Dane otrzymane w ten sposób można przetwarzać w dowolnym programie CAD lub przeglądarce
                        internetowej. Możliwość przeprowadzania pomiarów z poziomu przeglądarki w połączeniu z
                        nawigacją wewnątrz budynków daje innowacyjne narzędzie o szerokim zastosowaniu.
                    </p>
                </div>
                <div class="text-with-icon">
                    <img src="{% static 'img/logistyka-gotowe.png' %}" alt="logistyka" style="width: 125px">
                    <h3>Logistyka</h3>
                    <p>
                        Przestrzeń magazynowa, podobnie jak produkcyjna, często ulega zmianie. Aktualizacja planów
                        takiej powierzchni staje się prawdziwym wyzwaniem. Skanowanie laserowe wnętrz jest
                        nowatorskim narzędziem dostosowanym specjalnie do potrzeb branży logistycznej -
                        umożliwia bieżącą inwentaryzację przestrzeni magazynowej, szybkie przeprowadzanie pomiarów
                        i nawigację.
                    </p>
                </div>
            </div>
            <div class="col-group">
                <div class="text-with-icon">
                    <img src="{% static 'img/hotele-cien.png' %}" alt="hotele" style="width: 125px">
                    <h3>Hotele</h3>
                    <p>
                        Skanowanie laserowe wnętrz to sposób na wyróżnienie się w branży hotelowej. Narzędzie to
                        umożliwia potencjalnym gościom odbycie wirtualnego spaceru po obiekcie, przyjrzenie się
                        wnętrzu pokoju, znalezienie drogi na basen czy do hotelowej kawiarni. Spacery dostępne są
                        przez przeglądarkę internetową, także w wersji na smartfony. Skanowanie laserowe 3D dla
                        hoteli pozwala otrzymać rzeczywisty plan obiektu w wersji cyfrowej. To unikalne i wygodne
                        narzędzie do zarządzania całą powierzchnią hotelową.
                    </p>
                </div>
                <div class="text-with-icon">
                    <img src="{% static 'img/zabytki_2-cien.png' %}" alt="zabytki" style="width: 125px">
                    <h3>Zabytki</h3>
                    <p>
                        Skanowanie laserowe 3D zabytków to idealny sposób na inwentaryzację i trwały zapis obiektu
                        historycznego. Jest to też potężne narzędzie promocji, które rozbudza wyobraźnię turystów i
                        zachęca ich do odwiedzenia zabytku w rzeczywistości. Skanowanie laserowe LIDAR umożliwia
                        szybkie i bezproblemowe przesłanie informacji do konserwatora zabytków lub renowatora.
                        Dzięki wirtualnemu planowi może on dokonać niezbędnych pomiarów za pośrednictwem swojej
                        przeglądarki internetowej, bez konieczności fizycznej wizyty w obiekcie.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="blue-bg-row">
    <div class="content-row">
        <h2 class="text-align-center header-white">Skaning laserowy najnowszej generacji</h2>
        <div class="col-group-wide">
            <div class="column-1">
                <div class="text-column-1">
                    <p class="paragraph-white">
                        Skanowanie laserowe wnętrz to nie tylko wirtualne spacery. To także zdjęcia sferyczne
                        720 stopni, wykonywane co metr, to chmura punktów, na której można dokonywać pomiarów
                        z dokładnością do centymetra. To wreszcie nawigacja wewnątrz budynków, która nie wymaga
                        żadnych nadajników. Wykonujemy skanowanie laserowe 3D przy użyciu innowacyjnego robota.
                        Korzysta on z 6 aparatów najnowszej generacji i 3 precyzyjnych skanerów laserowych,
                        wyposażony jest także w czujnik pola magnetycznego i sygnału WiFi.
                    </p>
                </div>
            </div>
            <div class="column-2">
                <div class="text-column-2">
                    <p class="paragraph-white">
                        Skanowanie laserowe 3D wykonywane przez naszą firmę wyznacza nową erę w branży i jest
                        odpowiedzią na czwartą rewolucję przemysłową. Nigdy dotąd skanowanie wnętrz nie było
                        tak proste i tak szybkie! W ciągu jednego dnia jesteśmy w stanie zeskanować nawet do
                        50 000 metrów kwadratowych. GIAP oferuje również takie usługi dodatkowe, jak tworzenie
                        planów budynków 2D i 3D wraz z wymiarowaniem, animacje modeli 3D, oraz szkolenia z
                        przetwarzania chmur punktów.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="white-bg-row-negative-margin">
    <div class="content-row" style="max-width:1190px !important;">
        <section class="post-excerpt-container">

        {% for post in posts %}

            <div class="post-excerpt-small rounded-2px grey-border">
                <div class="post-excerpt-img">
                    <img src="{{ post.post_img.url }}">
                </div>
                <div class="post-excerpt-text">
                    <h3><a href="{% url 'single_post' pk=post.pk %}">{{ post.title }}</a></h3>
                    <p>
                        {{ post.text|truncatewords:15 }}
                    </p>
                    <a href="#">czytaj więcej...</a>
                </div>

            </div>

        {% endfor %}

        </section>
    </div>
</div>

    <section>
        <div class="grey-bg-row">
            <div class="content-row-small-padding">
                <div class="elo" style="display: flex; flex-wrap: wrap; justify-content: space-around">
                    <img src="{% static 'img/klienci/gmina_debica.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_bogatynia.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_lowicz.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/czestochowa.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_nowy_targ.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/kluczbork.png' %}" alt="gmina dębica">
                </div>
            </div>
        </div>
    </section>

    </div>
</div>

{% endblock %}