{% extends "administracja_publiczna/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- main content -->

{#<div class="white-bg-row">#}
{#    <div class="content-row" style="max-width:1170px !important;">#}
{##}
{##}
{#        <div class="subindex-tiles">#}
{##}
{#            <div class="subindex-tile-admin rounded-2px"#}
{#                 style="background-image: url({% static 'img/tile_bg-admin.png' %});">#}
{##}
{#                <h2>Jakiś<br>nagłówek</h2>#}
{#                <p>Weoijweof jweofjwe korzystne rozwiązania dla elo.#}
{#                Sdoijsd oijasdoj oqw mmpojiwe pjkwpoj. Oijqwdo.</p>#}
{##}
{#            </div>#}
{##}
{#            <div class="subindex-tile-small-in">#}
{##}
{#                <div class="subindex-tile-biznes rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-biznes.png' %});">#}
{#                </div>#}
{##}
{#                <div class="subindex-tile-mapy rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-mapy.png' %});">#}
{#                </div>#}
{##}
{#                <div class="subindex-tile-skan rounded-2px"#}
{#                     style="background-image: url({% static 'img/tile_bg-test.png' %});">#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}



<section>
    <div class="white-bg-row">
        <div class="content-row">
            <h2 class="text-align-center">Kompleksowe rozwiązania dla samorządów</h2>
            <div class="col-group-wide">
                <div class="column-1">
                    <div class="text-column-1">
                        <p>
                            Tym, na czym opiera się działalność jednostki administracji publicznej, są dane. Ich
                            bezpieczeństwo, przejrzystość, łatwy dostęp i sprawny przepływ stanowią podstawę
                            funkcjonowania każdego urzędu.
                        </p>
                        <p>
                            Wychodzimy naprzeciw tym potrzebom, dostarczając kompleksowe
                            systemy administracji elektronicznej. Dzięki współpracy programistów GIS i projektantów
                            dbających o jak najlepsze doświadczenie użytkownika tworzymy aplikacje i platformy
                            wspierające codzienne zadania i obsługę interesantów. Specjalizujemy się w cyfryzacji
                            Planów Miejscowych, dostarczając rozwiązania dla gmin w ramach dyrektywy INSPIRE.
                        </p>
                    </div>
                </div>
                <div class="column-2">
                    <div class="text-column-2">
                        <p>
                            Gotowe do wdrożenia, proste w obsłudze i dostosowane do trybu
                            pracy danego samorządu, nasze aplikacje spełniają wszystkie aktualne normy prawne.
                            Składają się z modułów odpowiadających kluczowym funkcjom jednostki. Dzięki możliwości
                            integracji z platformami centralnymi i uruchomienia e-usług dla mieszkańców, otwierają
                            możliwość wielokanałowego przepływu danych.
                        </p>
                        <p>
                            Produktom GIAP zaufało już wiele samorządów
                            (m.in. Miasto Częstochowa, Gmina Nowy Targ, Gmina Bogatynia). Stale doskonaląc swoje usługi,
                            aktywnie współpracujemy z Wydziałem Nauk o Ziemi i Gospodarki Przestrzennej UMCS.
                        </p>
                    </div>
                </div>
            </div>

            <!-- opis zalet robota w 3 punktach -->

            <div class="last-content-row-small-padding">
                <div class="col-group-3">
                    <div class="col-group-3-col-1 col-3-about">
                        <i class="fa fa-check check-blue"></i>
                        <div>
                            <p><b>Niespotykana szybkość skanowania</b></p>
                            <p>Jesteśmy w stanie zeskanować 5,000 m2 powierzchni na godzinę.</p>
                        </div>
                    </div>
                    <div class="col-group-3-col-2 col-3-about">
                        <i class="fa fa-check check-blue"></i>
                        <div>
                            <p><b>Najnowocześniejsza technologia</b></p>
                            <p>Skaner wykorzystywany przez nas jest wyposażony w 3 laserowe skanery, 6 kamer
                                najnowszej generacji, czujnik pola magnetycznego i sygnału WiFi</p>
                        </div>
                    </div>
                    <div class="col-group-3-col-3 col-group-3-col-3-last col-3-about">
                        <i class="fa fa-check check-blue"></i>
                        <div>
                            <p><b>Niezwykła precyzja</b></p>
                            <p>Wykorzystywane przez nas oprogramowanie pozwala osiągnąć dokładność pomiaru do 1 cm.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

    <section>
        <div class="grey-bg-row">
            <div class="content-row-small-padding">
                <div class="elo" style="display: flex; flex-wrap: wrap; justify-content: space-around">
                    <img src="{% static 'img/klienci/gmina_debica.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_bogatynia.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_lowicz.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/czestochowa.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/gmina_nowy_targ.png' %}" alt="gmina dębica">
                    <img src="{% static 'img/klienci/kluczbork.png' %}" alt="gmina dębica">
                </div>
            </div>
        </div>
    </section>

    </div>
</div>

{% endblock %}