{% extends "administracja_publiczna/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- main content -->

{#<div class="panel-heading">#}
{#    <ul class="nav nav-tabs ul-tabs">#}
{#        <li style="margin: 10px;"><b>Pola EWI:</b></li>#}
{#        <li class="dropdown">#}
{#            <a href="#" data-toggle="dropdown">Wybierz produkt <span class="caret"></span></a>#}
{#            <ul class="dropdown-menu" role="menu">#}
{#                <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>#}
{#                <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>#}
{#                <li class="active"><a href="#tab1default" data-toggle="tab">Default 1</a></li>#}
{#                <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>#}
{#                <li><a href="#tab3default" data-toggle="tab">Default 3</a></li>#}
{#            </ul>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}

<div  style=" background: #f3f3f3;  padding-top: 10px;  padding-bottom: 10px;">
<p style="margin-left: 15px; color: #8d9093; margin-top: 0; margin-bottom: 0">Strona główna > Partnerzy</p>
</div>

<div class="grey-bg-row" style="box-shadow: none">


    <div class="single-post grey-border">
        <div class="just-extra-horisontal-margin">

            <img src="{% static 'img/partners/zeto_lublin.png' %}" style="margin-top: 80px; margin-bottom: 20px; height: 100px; width: auto"  alt="">
                <p>
                    <a href="https://www.zeto.lublin.pl/">Zakład Elektronicznej Techniki Obliczeniowej „ZETO” Sp. z o.o.</a> z siedzibą w Lublinie to
                    firma informatyczną, która od 50 lat stabilnie wspiera rozwój Klientów. Wytwarza i wdraża własne
                    systemy informatyczne. Realizuje projekty na indywidualne zamówienie zgodnie z najnowszymi
                    standardami zarządzania projektami. Elektroniczny System Obiegu Dokumentów autorstwa ZETO Lublin
                    to zintegrowany pakiet oprogramowania do zarządzania dokumentami.
                </p>


            <img src="{% static 'img/partners/systherm.png' %}" style="margin-top: 80px; margin-bottom: 20px; height: 40px; width: auto"  alt="">
                <p>
                    <a href="http://www.systherm-info.pl/">SYSTHERM INFO Sp. z o.o.</a> tworzy nowoczesny, najwyższej jakości System Informacji Przestrzennej 
                    GEO-INFO. Jest dystrybutorem systemów zabezpieczających oprogramowanie i własność intelektualną
                    firmy Aladdin. Jej celem jest dostarczanie produktów, które zaspokoją nawet najbardziej zaawansowane
                    potrzeby i oczekiwania Klientów. Główny produkt firmy, SIP GEO-INFO jest najlepszym, najstarszym i
                    jedynym w pełni obiektowym systemem do prowadzenia numerycznych zasobów mapy wielkoskalowej i mapy
                    topograficznej (TBD) w kraju.
                </p>



            <img src="{% static 'img/partners/maxto.png' %}" style="margin-top: 80px; margin-bottom: 20px; height: 80px; width: auto"  alt="">
                <p>
                    <a href="http://www.maxto.pl/">MAXTO Sp. z o.o. S.K.A</a> jest uznanym na polskim rynku integratorem w dziedzinie Teletechniki,
                    Teleinformatyki oraz Oprogramowania. Oferuje szeroką gamę niezawodnych rozwiązań z zakresu:
                    Oprogramowania, Infrastruktury IT oraz Integracji Systemowej. Firma zapewnia kompleksowe wsparcie
                    na każdym etapie realizowanego projektu. Jej działania obejmują konsultacje, integrację,
                    projektowanie, wdrożenie rozwiązań IT, a także późniejszy serwis i utrzymanie. Firma realizuje
                    projekty dla specjalistów z wielu branż.
                </p>




            <img src="{% static 'img/partners/rekord_si.jpg' %}" style="margin-top: 80px; margin-bottom: 20px; height: 80px; width: auto"  alt="">
                <p>
                    <a href="http://www.rekord.com.pl/">REKORD SI Sp. z o.o.</a> to dostawca nowoczesnych rozwiązań informatycznych dla przedsiębiorstw
                    produkcyjnych oraz jednostek administracji publicznej. Dzięki wysoko wykwalifikowanej kadrze
                    pracowników oraz stosowaniu najnowszych rozwiązań informatycznych REKORD z powodzeniem przeprowadza
                    kompleksowe komputeryzacje przedsiębiorstw oraz urzędów: od dostawy sprzętu i usług internetowych
                    po instalacje i wdrożenie autorskiego oprogramowania.
                </p>




            <img src="{% static 'img/partners/geobid.png' %}" style="margin-top: 80px; margin-bottom: 20px; height: 120px; width: auto"  alt="">
                <p>
                    <a href="https://geobid.pl/">GEOBID Sp. z o.o.</a> to firma, której celem jest rozwój społeczeństwa informacyjnego, poprzez rozwój
                    informacji geoprzestrzennej. Ma znaczny wkład w rozwój polskiej geodezji, a głównie w tworzenie
                    systemów informacji o terenie. Podstawowym produktem firmy jest program EWMAPA, który wspomaga
                    tworzenie zaawansowanych technologii informatycznych umożliwiających gromadzenie, przetwarzanie i 
                    obrazowanie różnorodnych danych przestrzennych. Systemy firmy GEOBID funkcjonują w ponad połowie
                    starostw powiatowych w Polsce.
                </p>




            <img src="{% static 'img/partners/sputnik.jpg' %}" style="margin-top: 80px; margin-bottom: 20px; height: 80px; width: auto"  alt="">
                <p>
                    <a href="http://www.nowoczesnyurzad.pl/">Sputnik Software Sp. z o.o.</a> jest producentem oprogramowania dla administracji publicznej.
                    Koncentruje się na tworzeniu autorskich produktów z wykorzystaniem najnowszych technologii,
                    przyczyniających się do rozwoju polskiej e-Administracji.  Twórca Zintegrowanej Platformy
                    Informatycznej „Nowoczesny Urząd” oraz wielu dedykowanych systemów dziedzinowych. Każdego dnia,
                    z produktów Sputnik Software korzysta kilkadziesiąt tysięcy użytkowników na terenie całego kraju.
                </p>


            <img src="{% static 'img/partners/softres.png' %}" style="margin-top: 60px; margin-bottom: 20px; height: 80px; width: auto"  alt="">
                <p>
                    <a href="http://www.web.softres.pl/">Biuro Usług Komputerowych „Softres” Sp. z o.o.</a> to podkarpacki lider rozwiązań informatycznych dla
                    potrzeb administracji samorządowej. Programy są opracowane przez pracowników firmy indywidualnie,
                    uwzględniając zarówno specyfikę pracy jednostki, jak i aktualnie obowiązujące przepisy oraz
                    wieloletnie doświadczenie własne i licznych użytkowników. Pakiet oprogramowania „Sprawny Urząd”
                    jest efektem doświadczeń z zakresu kompleksowej informatyzacji urzędu.
                </p>

            <br><br><br>

        </div>
    </div>
</div>

{% endblock %}

{% block mainimage %}
{% endblock %}