{% extends "administracja_publiczna/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- main content -->


<div  style=" background: white;  padding-top: 10px;  padding-bottom: 10px;">
<p style="margin-left: 15px; color: #8d9093; margin-top: 0; margin-bottom: 0">Strona główna > Produkty</p>
</div>

<main class="administracja">

<div class="white-bg-row">
    <div class="content-row">
        <div class="products-main-flex">
            <div class="products-flex">

                <div class="col-margin single-products">
                    <img src="{% static 'img/pola_eko.png' %}" class="product_cat_logo">
                    <p><a href="produkty.html"><b>Drwal</b></a> - Rejestr decyzji na wycinkę drzew</p>
                    <p><a href="#"><b>Ekolog</b></a> - Decyzja o środowiskowych uwarunkowaniach</p>
                    <p><a href="#"><b>Turysta</b></a> - Obiekty turystyczne</p>
                    <p><a href="#"><b>POŚ</b></a> - Przydomowe oczyszczalnie ścieków</p>
                    <p><a href="#"><b>Azbest</b></a> - Azbest</p>
                    <p><a href="#"><b>Odpady</b></a> - Odpady komunalne</p>
                    <p><a href="#"><b>Esteta</b></a> - Obszary do rewitalizacji</p>
                </div>

                <div class="col-margin single-products">
                    <img src="{% static 'img/pola_sieci.png' %}" class="product_cat_logo">
                    <p><a href="#"><b>Drwal</b></a> - Rejestr decyzji na wycinkę drzew</p>
                    <p><a href="#"><b>Ekolog</b></a> - Decyzja o środowiskowych uwarunkowaniach</p>
                    <p><a href="#"><b>Turysta</b></a> - Obiekty turystyczne</p>
                    <p><a href="#"><b>POŚ</b></a> - Przydomowe oczyszczalnie ścieków</p>
                </div>

            </div>

            <div class="products-flex">

                <div class="col-margin single-products">
                    <img src="{% static 'img/pola_ewi.png' %}" class="product_cat_logo">
                    <p><a href="produkty.html"><b>Drwal</b></a> - Rejestr decyzji na wycinkę drzew</p>
                    <p><a href="#"><b>Ekolog</b></a> - Decyzja o środowiskowych uwarunkowaniach</p>
                    <p><a href="#"><b>Turysta</b></a> - Obiekty turystyczne</p>
                    <p><a href="#"><b>POŚ</b></a> - Przydomowe oczyszczalnie ścieków</p>
                    <p><a href="#"><b>Azbest</b></a> - Azbest</p>
                    <p><a href="#"><b>Odpady</b></a> - Odpady komunalne</p>
                    <p><a href="#"><b>Esteta</b></a> - Obszary do rewitalizacji</p>
                </div>

                <div class="col-margin single-products">
                    <img src="{% static 'img/pola_GP.png' %}" class="product_cat_logo">
                    <p><a href="#"><b>Drwal</b></a> - Rejestr decyzji na wycinkę drzew</p>
                    <p><a href="#"><b>Ekolog</b></a> - Decyzja o środowiskowych uwarunkowaniach</p>
                    <p><a href="#"><b>Turysta</b></a> - Obiekty turystyczne</p>
                    <p><a href="#"><b>POŚ</b></a> - Przydomowe oczyszczalnie ścieków</p>
                    <p><a href="#"><b>Azbest</b></a> - Azbest</p>
                    <p><a href="#"><b>Odpady</b></a> - Odpady komunalne</p>
                    <p><a href="#"><b>Esteta</b></a> - Obszary do rewitalizacji</p>
                </div>

            </div>
        </div>
    </div>
</div>

</main>

{% endblock %}